<%= form_with(model: item, class: 'admin_form pt-4 my-2') do |form| %>
  <% if item.errors.any? %>
    <div style="color: red">
      <h2><%= pluralize(item.errors.count, "error") %> prohibited this item from being saved:</h2>

      <ul>
        <% item.errors.each do |error| %>
          <li><%= error.full_message %></li>
        <% end %>
      </ul>
    </div>
  <% end %>

  <div class='field'>
    <%= form.label :date %>
    <%= form.date_field :date, class: 'form-control' %>
  </div>

  <div class='field'>
    <%= form.label :topic %>
    <%= form.text_field :topic, class: 'form-control' %>
  </div>

  <div class='field'>
    <%= form.label :subtopic %>
    <%= form.text_field :subtopic, class: 'form-control' %>
  </div>

  <div class="field">
    <%= form.label :content %>
    <%= form.rich_textarea :content %>
  </div>  

  <div class='actions'>
    <%= form.submit %>
  </div>

  <div class="cancel">
    <%= link_to image_tag('delete.png', class: "table_icon"), @form_cancel_link %>
  </div>    
<% end %>
